@model PracticeTime.Web.Models.InstructorViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Student Progress Report</h2>

<div class="row">
    <div class="col-lg-5">
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(s => s.SelectedStudent, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.SelectedStudent, Model.StudentsListItems, new Dictionary<string, object>()
                {
                    {"class", "form-control"}
                })
            </div>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <th>Instrument</th>
        <th>Title</th>
        <th>Date</th>
        <th>Time</th>
        </thead>
        <tbody id="sessionData">
            @*<tr>
                <td>@session.C_Instrument.Name</td>
                <td>@session.Title</td>
                <td>@session.SessionDateTimeUtc.ToShortDateString()</td>
                <td>@session.Time</td>
            </tr>*@
        </tbody>
    </table>
</div>

@section scripts  {
    @Scripts.Render("~/Scripts/PracticeTime-Instructor.js")
    @Scripts.Render("~/bundles/jqueryval")
}




