@model PracticeTime.Web.Models.RegisterStudentViewModel

@{
    ViewBag.Title = "Manage Students";
}

<h2>Manage Students</h2>

<div class="row">
    <div class="col-lg-6">
    @using (Html.BeginForm("RegisterStudent", "Instructor", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(s => s.StudentTokenForRegistration, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.StudentTokenForRegistration, new Dictionary<string, object>()
                {
                    {"class","form-control"}
                })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" class="btn btn-default" value="Submit" id="submit" />
            </div>
        </div>
    }
    </div>
</div>
<div class="row">
    <div class="col-lg-5">
        @*@using (Html.BeginForm("Associate", "Instructor", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

        }*@
    </div>

</div>


@section scripts  {
    @Scripts.Render("~/Scripts/PracticeTime-Instructor.js")
    @Scripts.Render("~/bundles/jqueryval")
}