@using System.Collections.Specialized
@using System.Web.UI.WebControls.WebParts
@using Microsoft.AspNet.Identity
@using PracticeTime.Web.DataAccess.Models
@model PracticeTime.Web.Models.SessionEntryViewModel

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Add New Session : @User.Identity.GetUserName()</h3>

<div class="col-md-12">
    <div class="col-lg-5">
    @using (Html.BeginForm("Add", "Sessions", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(s => s.SelectedInstrumentId, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.SelectedInstrumentId,Model.Instruments, new Dictionary<string, object>()
            {
                {"class","form-control"}
            })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Title, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Title, new Dictionary<string, object>()
            {
                {"class","form-control"},
                {"data-titles",Html.Raw(string.Join(",", Model.SessionTitles))}
            })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.Time, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <div class="col-md-9 ui-slider-horizontal-PT" style="max-width: 255px;" id="slider"></div>
                <div class="col-md-1"><label style="margin-top: 5px" id="slider-value">0</label></div>
                @Html.HiddenFor(m => m.Time)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(s => s.SessionDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <div>@Html.TextBoxFor(m => m.SessionDate, new { @class = "datepicker form-control" })</div>
            </div>
        </div>
        @Html.HiddenFor(m => m.TimeZoneOffset)
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" class="btn btn-default" value="Submit" />
            </div>
        </div>
    }
    </div>
    <div class="col-lg-4">
        @if (!string.IsNullOrEmpty(Model.StateMessage))
        {
        <div class="row">
            <div class="alert alert-dismissable alert-success">
                <button class="close" type="button" data-dismiss="alert">x</button>
                @Model.StateMessage
            </div>
        </div>
        }
        @if (Model.BadgeAward != null)
        {
            <div class="row">
                <div class="">
                    @Html.Partial("_NewBadge", Model)
                </div>
            </div>
        }
    </div>
</div>

@section scripts  {
    @Scripts.Render("~/bundles/PracticeTime-Add")
    @Scripts.Render("~/bundles/jqueryval")
}
